body {
    background-color: #E5E9EC;
    text-align: center;
    margin:auto;
}

.box{
      background-color: white;
      box-shadow: 0px 10px 8px #888888;
      border-radius: 15px;
      padding: 20px;
      margin:auto;
}

.page-header{
      margin:auto;
}